<body>
  <mat-card>
    <mat-card-content>
      <!-- <div class="main"> -->
      <div class="google-login-text">
        <span class="login-title">Fundoo</span>
        <span class="login-sub-title">Login to your Fundoo Account</span>
      </div>
      <form class="form" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email or phone</mat-label>
          <input formControlName="email" matInput required />
          <mat-error
            *ngIf="
              !loginForm?.get('password')?.valid &&
              loginForm?.get('password')?.touched
            "
            >Password is required!</mat-error
          >
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <div class="login-button">
          <a href="">Forget password?</a>
        </div>
        <div class="login-button">
          <a href="/register" class="create-acc">Create account</a>
          <button mat-flat-button color="primary" (click)="handleLogin()">
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</body>
