<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar>
    <div class="menu-logo">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="handleToggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo-name">
        <img
          class="logo"
          src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
          alt=""
          aria-hidden="true"
        />
        <span class="name">Keep</span>
      </div>
    </div>
    <div>
      <div class="note-search-cnt">
        <mat-icon
          style="width: 18px !important"
          svgIcon="search-icon"
          aria-hidden="false"
          aria-label="Search SVG icon"
        ></mat-icon>
        <input placeholder="Search" />
      </div>
      <mat-icon matSuffix></mat-icon>
    </div>
    <div class="icons">
      <div class="header-icons">
        <button mat-icon-button>
          <mat-icon
            svgIcon="refresh-icon"
            aria-hidden="false"
            aria-label="Refresh SVG icon"
          ></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon
            svgIcon="list-view-icon"
            aria-hidden="false"
            aria-label="List view SVG icon"
          ></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon
            svgIcon="setting-icon"
            aria-hidden="false"
            aria-label="Setting SVG icon"
          ></mat-icon>
        </button>
      </div>

      <div class="menu-avatar">
        <button mat-icon-button>
          <mat-icon
            svgIcon="other-menu-icon"
            aria-hidden="false"
            aria-label="Menu SVG icon"
          ></mat-icon>
        </button>
        <div class="user-avatar">
          <!-- <span>sdfsdf</span> -->
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="open"
    >
      <mat-nav-list>
        <div>
          <div class="nav-cnt">
            <button mat-icon-button (click)="handleSideNav('notes')">
              <mat-icon
                svgIcon="note-icon"
                aria-hidden="false"
                aria-label="Note SVG icon"
              ></mat-icon>
            </button>

            <div>Note</div>
          </div>
          <div class="nav-cnt">
            <button mat-icon-button>
              <mat-icon
                svgIcon="reminder-icon"
                aria-hidden="false"
                aria-label="Reminder SVG icon"
              ></mat-icon>
            </button>
            <div>Reminder</div>
          </div>
          <div class="nav-cnt">
            <button mat-icon-button>
              <mat-icon
                svgIcon="edit-icon"
                aria-hidden="false"
                aria-label="Edit SVG icon"
              ></mat-icon>
            </button>
            <span>Edit</span>
          </div>
          <div class="nav-cnt">
            <button mat-icon-button (click)="handleSideNav('archive')">
              <mat-icon
                svgIcon="archive-icon"
                aria-hidden="false"
                aria-label="Archive SVG icon"
              ></mat-icon>
            </button>
            <span>Archive</span>
          </div>
          <div class="nav-cnt">
            <button mat-icon-button (click)="handleSideNav('trash')">
              <mat-icon
                svgIcon="trash-icon"
                aria-hidden="false"
                aria-label="Trash SVG icon"
              ></mat-icon>
            </button>
            <span>Trash</span>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!open"
    >
      <div>
        <div class="nav-cnt">
          <button mat-icon-button (click)="handleSideNav('/notes')">
            <mat-icon
              svgIcon="note-icon"
              aria-hidden="false"
              aria-label="Note SVG icon"
            ></mat-icon>
          </button>
        </div>
        <div class="nav-cnt">
          <button mat-icon-button>
            <mat-icon
              svgIcon="reminder-icon"
              aria-hidden="false"
              aria-label="Reminder SVG icon"
            ></mat-icon>
          </button>
        </div>
        <div class="nav-cnt">
          <button mat-icon-button>
            <mat-icon
              svgIcon="edit-icon"
              aria-hidden="false"
              aria-label="Edit SVG icon"
            ></mat-icon>
          </button>
        </div>
        <div class="nav-cnt">
          <button mat-icon-button (click)="handleSideNav('/archive')">
            <mat-icon
              svgIcon="archive-icon"
              aria-hidden="false"
              aria-label="Archive SVG icon"
            ></mat-icon>
          </button>
        </div>
        <div class="nav-cnt">
          <button mat-icon-button (click)="handleSideNav('/trash')">
            <mat-icon
              svgIcon="trash-icon"
              aria-hidden="false"
              aria-label="Trash SVG icon"
            ></mat-icon>
          </button>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content> <router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
