<div class="note-main">
  <div *ngFor="let notes of notes" class="note-outer-cnt">
    <div class="note-inner-cnt" style="width: initial">
      <div>{{ notes?.title }}</div>
      <!-- <button mat-icon-button aria-label="pin icon" matTooltip="Pin">
          <mat-icon
            svgIcon="pin-icon"
            aria-hidden="false"
            aria-label="pin icon"
          ></mat-icon>
        </button> -->
    </div>
    <div class="note-details-cnt">
      <div>{{ notes?.description }}</div>
    </div>
    <div class="add-note-footer-cnt">
      <div>
        <app-note-icons></app-note-icons>
        <!-- <app-note-footer-icons></app-note-footer-icons> -->
        <!-- <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon
              svgIcon="undo-icon"
              aria-hidden="false"
              aria-label="undo icon"
              matTooltip="Undo"
            ></mat-icon>
          </button>
          <button mat-icon-button aria-label="redo icon" matTooltip="Redo">
            <mat-icon
              svgIcon="redo-icon"
              aria-hidden="false"
              aria-label="redo icon"
            ></mat-icon>
          </button> -->
      </div>
    </div>
  </div>
</div>
